@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}
.container {
  padding: 15px;
  width: 300px;
  border-radius: 5px;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container h1 {
  text-align: center;
}

.container .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 30px 0;
  transition: outline-color 0.5s ease;
  outline: 1px solid grey;
  border-radius: 5px;
}

.container .input-box input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}

.container .input-box:focus-within {
  outline: 2px solid rgb(83, 166, 255);
  box-shadow:rgba(0, 0, 0, 0.24) 0px 2px 5px;
}

.container button {
  width: 100%;
  height: 35px;
  background-color: rgb(83, 166, 255);
  border: none;
  outline: none;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.container button:hover {
  background-color: rgb(53, 121, 193);
  box-shadow:rgba(0, 0, 0, 0.24) 0px 2px 5px;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid black;
}

.separator p {
  margin: 0 10px;
}